<%- include('../partials/header.ejs') %>
<div id="list">
        <% posts.forEach(post => { %>
            <div class="user_post"><%= post.content %></div>
            <div class="user_name"><%= post.user.name %></div>
            <div><a href="/posts/<%= post._id %>">DETAILS</a></div><br>
       <% }); %>
</div>
<%- include('../partials/footer.ejs') %> 