<%- include('../partials/header.ejs') %>

<div id="list">
    <% if(posts.length) { %>
        <% posts.forEach(post => { %>
            <img src="<%= post.imageUrl %>" height="400" width="auto">
            <div class="user_post"><%= post.content %></div>
            <div class="user_name"><%= post.user.name %></div>
            <div><a href="/posts/<%= post._id %>">DETAILS</a></div><br>
            <% if (post.user.equals(user && user._id)) { %>
                <div><a href="/posts/<%= post._id%>/edit">EDIT</a></div>
                <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
                    <input type="submit" value=" DELETE">
                </form>
            <% }; %>
        <% }); %>
    <% } %>
</div>

<%- include('../partials/footer.ejs') %> 