<%- include('../partials/header.ejs') %>
<img src="<%= post.imageUrl %>" class="img" height="auto" width="60%">
<div class="user-post"><%= post.content %></div>
<br><br>
<div>
    <% if(user) { %>
    <form id="add-comment" method="POST" action="/posts/<%= post._id %>">
        <label>Leave A Comment</label><br>
        <textarea class="text-box" name="content" cols="50" rows="10"></textarea><br>
        <input type="submit" value="ADD COMMENT">
    </form>
<% } else { %>
    <h3>Please Login To Leave A Comment</h3>
<% } %>
</div> 
<div id="list">
    <% if(comments.length) { %>
    <% comments.forEach(comment => { %>
        <div class="user_comment"><%= comment.content %></div>
        <div class="user_name"><%= comment.user.name %></div>
        <% if (comment.user.equals(user && user._id)) { %>
            <form action="/posts/<%= comment._id %>/comments?_method=DELETE" method="POST">
                <input type="submit" value=" DELETE">
              </form>
            <% } %>
       <% }); %>
    <% } else { %>
        <h3>No Comments Yet</h3>
    <% } %>
</div>

<%- include('../partials/footer.ejs') %> 